
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  margin-left: 5px;
}

body {
background-color: #000000;

}

:root {
  --font-family: 'Manrope', sans-serif;
  --loge :  linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
--color-button: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

  --color-font : radial-gradient(64.18% 64.18% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) ;
  
  --color-bg: #040C18;
  --color-footer : #f1e74d;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

#namee {
  background: var(--gradient-text);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}
#exp{
  padding-left: 20px;
}
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track{
  background-color:
  #000000;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  cursor: pointer
}

/* #namee2 {


-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


} */

input,
textarea {
  @apply bg-slate-200 outline-none rounded-lg p-3;
}

::placeholder {
  @apply text-lg
}





         
.btn-primary {
  background-image:var(--color-button);
 
  margin-right: 15px;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(5, 5, 5);            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}
.btn-sec {
  background-image:var(--gradient-text);
 
  margin-right: 15px;
  padding: 3px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(5, 5, 5);            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}


.btn-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #130404;
  text-decoration: none;
}
@media only screen and (max-width: 400px) {
  #mainbutton {
  
   
    margin-left: 30px;
  }

  #headuu{
    font-size: 1.25rem;
  }
  #skp{
    font-size: 0.50rem;
  }
  #icons{
   width: 3rem;
  }
  #ai{
    height: 200px;
  }
  #perfects{
    width: 250px;
    padding-left: 50px;
  }
  #raja{
    width: 20rem;
  }
  #headuu2 {
    font-size: 1rem;
  }
  #paroja {
    margin-top: 135px;
  }
 
  #certifii{
    margin-bottom: 135px;
  }
  
}
@media only screen and (max-width: 800px) {
  .btn-primary {
  
   
    margin-left: 58px;
    padding: 7px 15px;
  }
}

/* @media only screen and (max-width: 710px) {
  #role {
  font-size: 20px;
  }
  #techb{
    font-size: 15px;
    margin: 8px;
  }
} */
@media only screen and (max-width: 500px) {
  #role {
  font-size: 7px;
  }

}
@media only screen and (max-width: 315px) {
  #techb {
  font-size: 4xpx;
  }

}
@media only screen and (max-width: 390px) {
 
  #names{
    font-size: 1.2rem;
  }

}
